.background {
    width: 100%;
    height: 87vh;
    
    display: flex;
    justify-content: center;
    align-items: top;
}

.background > .profilecontainer {
    height: 560px;
    width: 60%;
    border: 4px solid black;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px;
}

.background > .profilecontainer >.title> .profiletitle {
    font-family: Pangea Afrikan Text Trial;
    font-size: 28px;
    font-weight: 550;

    text-align: center;
    margin: 10px 0px 10px 0px;
}
.background > .profilecontainer>.title{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-between;
}
.background > .profilecontainer>.title div{
    height:90%;
    width:33.3%;
}
.background > .profilecontainer>.title>.backarrow{
    display:flex;
    align-items:center;
    justify-content:flex-end;
}
.background > .profilecontainer>.title>.backarrow img{
    height:28px;
    width:28px; 
    background-position:center;
    background-repeat:no-repeat;    
}
.background > .profilecontainer > .profile {
    height: 95%;
    width: 95%;
}
.background > .profilecontainer > .profile > .maintable {
    height: 95%;
    width: 98%;

    /* border:1px solid black; */
    border-collapse: collapse;
    
    margin: 0 auto;
}
.background > .profilecontainer > .profile > .maintable td {
    height: 150px;
    width: 175px;
    vertical-align:middle;

    /* border:1px solid black; */

    font-size: 16px;
    font-family: Pangea Afrikan Text Trial;
    text-align: center;              
}
.background > .profilecontainer > .profile > .maintable #pic-con{
    vertical-align:top;
    padding-top:30px;
}
.background > .profilecontainer > .profile>.maintable #profilepic {
    height: 145px;
    width: 145px;
    border: 3px solid black;
    border-radius: 25%;
    margin-bottom:30px;
}

/*............................................Guide Contact, Address Details............................................................*/
.background > .profilecontainer > .profile .maintable .contact-table {
    width: 100%;
    border-collapse: collapse;
    /* border:1px solid blue; */
}

.background > .profilecontainer > .profile .maintable .contact-table td {
    height:35px;
    padding-bottom:10px;

    font-size: 16px;
    font-family: Pangea Afrikan Text Trial;
    text-align: center;
}
.background > .profilecontainer > .profile .maintable .contact-table img{
    height:30px;
    width:30px;
    margin-bottom:2px;
    background-position:center;
}
/*............................................Guide Details............................................................*/
.background > .profilecontainer > .profile > .maintable #guidedetails{
    width:450px;
}
.background > .profilecontainer > .profile > .maintable td table{
    width: 100%;
    border-collapse: collapse;
    /* border:1px solid red;    */
}
.background > .profilecontainer > .profile > .maintable td table td{
    height:35px;
    padding: 8px;
    border-collapse: collapse;
    /* border:1px solid red;    */

    font-size: 16px;
    font-family: Pangea Afrikan Text Trial;
    text-align:left;
}
/*............................................Guide Bio...........................................................*/

.background > .profilecontainer > .profile > .maintable #bio{
    padding:20px;
    vertical-align:top;
    border-top:2px solid black;
    font-size: 16px;
    font-family: Pangea Afrikan Text Trial;
    text-align: left;

}