
.triplist {
    width: 90%;
    margin: 50px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

.triplist table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.triplist thead {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.triplist tbody {
    border-bottom: 2px solid rgb(177, 177, 177);
}

.triplist tr:nth-child(even) {
    background-color: #f3f3f3;
}

.triplist tbody tr:hover {
    background-color: #e0e0e0;
}

.triplist td {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 16px;
    
    padding-top: 10px;
    padding-bottom: 10px;
}
.triplist thead td{
    font-family: Arial, Helvetica;
    font-size:18px;
    color: black;
    font-weight:bold;
}
.triplist button{
    appearance:none;
    height:30px;
    width:70px;
    cursor: pointer;
    
    border:3px solid red;
    border-radius:10px;
    color:red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.triplist #accept{
    appearance:none;
    height:30px;
    width:70px;
    
    border:3px solid rgb(5, 97, 35);
    border-radius:10px;
    color:rgb(5, 97, 35);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
/* .bg{
    width: 100%;
    height: 85vh;
    border:1px solid black
}
.bg>.box{
    height:350px;
    width:100%;
    border-top:2px solid black;
    border-bottom:2px solid black;
    margin-top:20px;
}
.bg>.box>.heading{
    font-family: Pangea Afrikan Text Trial;
    font-size: 28px;
    font-weight: 550;
    text-align: center;
}
.bg>.box>.description{
    margin-top:20px;s
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
} */