.background{
    /* border:1px solid black; */
    height:fit-content;
    width:100%;
    margin-bottom:50px;
    
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.background>.webpage-title{
    height:600px;
    width:100%;
    margin-bottom:20px;
    border-radius:0px 0px 25px 25px;
    
    background-repeat:no-repeat;
    background-position:center; 
    background-image:url("/homeimg/destination.jpg");
    background-size: cover;

    font-size:100px;
    font-family:Pangea Afrikan Text Trial;
    font-weight:550;
    color:white;
    text-shadow: 4px 4px 5px rgba(169, 169, 169, 0.8);

    display:flex;
    justify-content:left;
    align-items:center;
}
.background p{
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    margin-bottom:55px;

    font-size:20px;
    font-family:ralway;
    color:rgba(0,0,0,0.7);
    font-family:Raleway;
    text-decoration:none;
}
.background > #title1,
.background > #title2,
.background > #title3 {
    width: 100%;
    text-align: left;
    box-sizing: border-box;

    font-size: 48px;
    font-family: Raleway, sans-serif;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
}
.background .list{
    width:100%;
}
.background .list ul {
    padding: 0;
    margin: 0;
    list-style-position: inside; /* Ensures list bullets are inside the box */
}

.background > .list li {
    width: 100%;
    box-sizing: border-box;

    font-size: 20px;
    font-family: Raleway, sans-serif;
    color: rgba(0, 0, 0, 0.7);
    text-align: left;
    margin-bottom:20px;
    padding-left: 20px;
}


/*........................................Form BOX...................................................*/
.form-container{
    height:fit-content;
    width:fit-content;
    margin-top:20px;
    margin-bottom:100px;
    padding:10px;
    
    border:4px solid black;
    border-radius: 20px;

    color:black;
    
}
.form-container2{
    height:fit-content;
    width:fit-content;
    margin-top:20px;
    margin-bottom:100px;
    padding:10px;
    
    border:4px solid black;
    border-radius: 20px;

    color:black;
    
}
.register{
    height:50px;
    width: 750px;
    margin-top:20px;
    margin-bottom:100px;
    padding:10px;
    
    border-radius: 20px;

    color:black;
    text-align: center;
}
.register> #title4,
.register> #title5{
    display: block;

    width: 100%;
    text-align: center;
    box-sizing: border-box;
    margin:0px auto;

    font-size: 48px;
    font-family: Raleway, sans-serif;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
}
.register > #title5 a {
    display: block;
    height: 50px;
    width: fit-content;
    margin: 0px auto;
    margin-top:10px;
    padding:0px 30px;

    border: 2px solid black;
    box-sizing: border-box;
    text-align: center;
    line-height: 40px;

    text-decoration: none;
    font-size: 24px;
    font-family: Raleway, sans-serif;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    border-radius: 12px; /* Adds rounded corners */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.register > #title5 a:hover {
    background-color:black; 
    color:white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); }
.form-header{
    text-align: center;
    font-size:28px;
    font-family:Pangea Afrikan Text Trial;
    font-weight:550;

    margin:10px 0px 20px 0px;
}
/*........................................Table...................................................*/
#form-table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders are collapsed for a cleaner look */
}
#form-table td{
    vertical-align:middle;
    padding:10px;
    /* border:1px solid black; */
}

/*........................................FORM BOX...................................................*/
label{
    color:black;
    font-size:16px;
    font-family:Pangea Afrikan Text Trial;
    text-align: left;
}
input{
    height:30px;
    width:325px;
    color:black;
    padding-left:15px;

    border:1px solid black;
    border-radius:10px;
    background-color:transparent;
}

input::placeholder{/*TEXT PROPERTIES*/
    margin-left:15px;
    color:black;
    font-size:16px;
    font-family:Pangea Afrikan Text Trial;
}

input[type="radio"] {
    appearance: none;
    border: 2px solid black;
    height: 18px;
    width: 18px;
    border-radius:100%;
    background-color: transparent;
}

input[type="radio"]:checked {
    background-color: black;
}

input[type="date"]{
        height:30px;
        width:345px;
        color:black;
        padding-left:15px;
    
        border:1px solid black;
        border-radius:10px;
        background-color:transparent;
    
        font-size:16px;
        font-family:Pangea Afrikan Text Trial; 

            /* Additional styles to override browser defaults */
        appearance: none; /* Removes default styling */
        -webkit-appearance: none;
        -moz-appearance: none;
}
/*........................................Dropdown Box...................................................*/
select {
    height:33px;
    width:344px;
    color:black;
    padding-left:15px;

    border:1px solid black;
    border-radius:10px;
    background-color:transparent;

    font-size:16px;
    font-family:Pangea Afrikan Text Trial;
}

select option{
    background-color:black;
    color:white;
}
/*........................................Submit...................................................*/
input[type="submit"]{
    height:33px;
    width:100%;
    margin-top:10px;
    
    text-align:center;
    font-family:Pangea Afrikan Text Trial;
    font-size:18px;
    font-weight:550;

    border:2px solid black;
    border-radius:10px;
    background-color:transparent;
}
input[type="submit"]:hover{
    color:white;
    background-color:black;
}
/*........................................Trip Detail...................................................*/
.tripdetail{
    height:fit-content;
    width:100%;

    display:flex;
    align-items: center;
    justify-content:center;
}
.tripdetail>.triptitle{
    text-align: center;
    font-size:28px;
    font-family:Pangea Afrikan Text Trial;
    font-weight:550;
}
.tripdetail table{
    width:99%;
    height:fit-content;
    border-collapse: collapse;
}
.tripdetail thead {
    border-top: 1px solid black;
    border-bottom: 2px solid black;
}
.tripdetail tbody {
    border-bottom: 2px solid rgb(177, 177, 177);
}
.tripdetail table td {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 16px;
    text-align:center;
    
    padding-top: 10px;
    padding-bottom: 10px;
}
.tripdetail thead td{
    font-family: Arial, Helvetica;
    font-size:18px;
    color: black;
    font-weight:bold;
}

.tripdetail tr:nth-child(even) {
    background-color: #f3f3f3;
}

.tripdetail tbody tr:hover {
    background-color: #e0e0e0;
}