.body1{   
    margin:50px auto 75px;
    width:1400px;
}
.body1 #heading1{
    color:#00a0f0;
    font-size:60px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
}
.body1 p{
    font-size:20px;
    font-family:ral;
    color:rgba(0,0,0,0.7);
    font-family:Raleway;
    text-decoration:none;
    text-align:justify;
}
.body2{   
    margin:50px auto 0px;
    width:1450px;
    height:2000px;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-items:space-around;
    justify-content:space-around;
}
.body2 #heading2{
    width:1400px;
    height:50px;
    margin-bottom:40px;
    display:block;

    color:rgba(0,0,0,0.8);
    font-size:40px;
    font-weight:bold;
    font-family:Roboto,sans-serif;
}
.body2>.box1,.box2,.box3,.box4,.box5,.box6{
    margin:10px 0px;
    width:1400px;
    height:300px;
    display:flex;

    flex-wrap:wrap;
    flex-direction:row;
    align-items:space-around;
    justify-content:space-between;
}
.body2 span{
    height:20px;
    width:850px;
    margin:5px 0px 20px;
    display:block;

    color:rgba(0,0,0,0.9);
    font-size:25px;
    font-family:Alex;
}
.body2 .box{
    margin:20px 15px 0px;
    height:250px;
    width:400px;
    display:inline-block;

    
    background-repeat:no-repeat;
    background-position:center;
    background-size:100%;
}
.body2 .description{
    margin:20px 15px 0px;
    height:250px;
    width:900px;

    font-size:18px;
    font-family:ral;
    color:rgba(0,0,0,0.7);
    font-family:Roboto,sans-serif;
    text-decoration:none;
    text-align:justify;
}