.background{
    margin:auto;
    width:100%;
    height:600px;
    
    display:flex;
}
.background>.container1{
    margin:auto;
    width:20%;
    height:590px;
    border-right:2px solid black;

    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;
    justify-content:space-evenly;
}
.background>.container2{
    border:1px solid black;
    margin-left:15px;
    width:80%;
    height:590px;
}

/* ...................................................Container 1.................................................................. */
.background>.container1>.photo img{
    height: 150px;
    width:150px;
    border:3px solid black;
    border-radius:50%;
}

.background>.container1>.details{
    height:375px;
    width:80%;

    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.background>.container1>.details img{
    height:35px;
    width:35px;
    margin-left: 40%;
    margin-top:7.5px;;
    background-position:center;
}
.background>.container1>.details>.contact{
    height:300px;
    width:80%;
    border-top:3px solid black;
}
.background>.container1>.details>.contact>h4{
    margin-top:0px;
    text-align:center;
}
/* ...................................................Container 2.................................................................. */
.background>.container2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border:1px solid black;

}


.background>.container2>.summary{
    width:98%;
    height:120px;
}
.background>.container2>.summary p{
    text-align: justify;
}


.background>.container2>.edu_skill{
    width:98%;
    height:175px;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;


}
.background>.container2>.edu_skill>.education{
    width:45%;
}
.background>.container2>.edu_skill>.skill{
    width:50%; 
}


.background>.container2>.experience{
    width:98%;
    height:225px;
}


.background>.container2 h3{
    margin:2px 0px;
    text-decoration:underline;
}