.background{
    /* border:1px solid black; */
    height:677px;
    width:100%;
    margin:0px;  

    display:flex;
    justify-content:center;
    align-items:center;
} 
/*........................................LOGIN BOX...................................................*/
.background>.container{
    height:250px;
    width:395px;
    border:4px solid black;
    border-radius: 20px; 
    color:black;

    display:flex;
    flex-wrap:wrap;
    align-content:space-between;
    justify-content:center;
}
.header{
    height:50px;
    width:100%;
    margin-top:10px;

    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;

    font-size:32px;
    font-family:Pangea Afrikan Text Trial;
    font-weight:550;
}
/*........................................FORM BOX...................................................*/
.form{
    height:195px;
    width:375px;

    display:flex;
    align-items:center;
    justify-content:center;  
}
.form input{
    height:30px;
    width:325px;
    color:black;
    padding-left:15px;

    border:1px solid black;
    border-radius:10px;
    background-color:transparent;
}
.form div{
    color:black;
    font-size:16px;
    text-align:center;
    text-decoration:none;
    font-family:Pangea Afrikan Text Trial;

    display:flex;
    align-items:center;
    justify-content:center; 
}
input::placeholder{/*TEXT PROPERTIES*/
    margin-left:15px;
    color:black;
    font-size:16px;
    font-family:Pangea Afrikan Text Trial;
}

/*........................................Submit...................................................*/
input[type="submit"]{
    height:33px;
    width:344px;
    margin-top:10px;
    
    text-align:center;
    font-family:Pangea Afrikan Text Trial;
    font-size:18px;
    font-weight:550;

    border:2px solid black;
    border-radius:10px;
    background-color:transparent;
}
input[type="submit"]:hover{
    color:white;
    background-color:black;
}
/*........................................Have account...................................................*/
a{  height:15px;
    width:344px;
    margin:5px auto;
    display:inline-block;

    color:black;
    font-size:11px;
    text-align:center;
    text-decoration:none;
    font-family:Pangea Afrikan Text Trial;
}

a:hover{
    text-decoration:underline;
}