.background{
    /* border:1px solid black; */
    height:677px;
    width:100%;
    margin:0px;
    
    background-image:url("/registerimg/register.png");
    background-repeat:no-repeat;
    background-position:center;   
}
.opacity{
    /* border:1px solid black; */
    height:677px;
    width:100%;
    margin:0px;
    background-color: rgba(0,0,0,0.75);    

    display:flex;
    justify-content:center;
    align-items:center;
} 
/*........................................LOGIN BOX...................................................*/
.background>.opacity>.container{
    height:500px;
    width:400px;
    border:4px solid white;
    border-radius: 20px; 
    color:white;

    display:flex;
    flex-wrap:wrap;
    align-content:space-around;
    justify-content:center;
}
.header{
    text-align: center;
    font-size:28px;
    font-family:Pangea Afrikan Text Trial;
    font-weight:550;
    display:block;
    /* border:1px solid white; */
}
/*........................................FORM BOX...................................................*/
.form{
    /* border:1px solid white; */

    height:fit-content;
    width:fit-content;

    display:flex;
    align-items:center;
    justify-content:center;  
}

.form input,select{
    height:30px;
    width:325px;
    color:white;
    padding-left:15px;

    border:1px solid white;
    border-radius:10px;
    background-color:transparent;
}
.form label{
    font-size: 16px;
    font-family: Pangea Afrikan Text Trial;
}
.form #date{
    height:33px;
    width:283px;
    color:white;
    padding-left:15px;
}
input::placeholder{/*TEXT PROPERTIES*/
    margin-left:15px;
    color:white;
    font-size:16px;
    font-family:Pangea Afrikan Text Trial;
}

.form>.gender label {
    color: blue;
    font-size: 16px;
    font-family: Pangea Afrikan Text Trial;
}

.form input[type="radio"] {
    appearance: none;
    border: 2px solid white;
    height: 18px;
    width: 18px;
    border-radius:100%;
    background-color: transparent;
}

.form input[type="radio"]:checked {
    background-color: white;
}

/*........................................Dropdown Box...................................................*/
select {
    height:33px;
    width:344px;

    font-size:16px;
    font-family:Pangea Afrikan Text Trial;
}

select option{
    background-color:black;
    color:white;
}

/*........................................Submit...................................................*/
input[type="submit"]{
    height:33px;
    width:344px;
    margin-top:10px;
    
    text-align:center;
    font-family:Pangea Afrikan Text Trial;
    font-size:18px;
    font-weight:550;

    border:2px solid white;
    border-radius:10px;
    background-color:transparent;
}
input[type="submit"]:hover{
    color:black;
    background-color:white;
}
/*........................................Have account...................................................*/
a{  height:15px;
    width:344px;
    margin:5px auto;
    display:inline-block;

    color:white;
    font-size:11px;
    text-align:center;
    text-decoration:none;
    font-family:Pangea Afrikan Text Trial;
}

a:hover{
    text-decoration:underline;
}