.background {
    width: 100%;
    height: 87vh;
    
    display: flex;
    justify-content: center;
    align-items: top;
}

.background > .container {
    height: 380px;
    width: 40%;
    border: 4px solid black;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px;
}
.background>.container>.title{
    font-family: Pangea Afrikan Text Trial;
    font-size: 28px;
    font-weight: 550;

    text-align: center;
    margin: 10px 0px 10px 0px;
}
.background>.container table{
    /* border:1px solid black; */
    height:300px;
    width:90%;
    border-collapse: collapse;
    
    margin-left:10%;
}
.background>.container table td{
    /* border:1px solid black; */
    font-size: 16px;
    font-family: Pangea Afrikan Text Trial;
    text-align: left;
    vertical-align: middle;
}
.background>.container table td button{
    height:fit-content;
    width:fit-content;
    padding:5px;
    cursor: pointer;
    appearance:none;

    border:3px solid red;
    border-radius:10px;
    color:red;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.background>.container table td #profile{
    height:fit-content;
    width:fit-content;
    padding:5px;
    cursor: pointer;
    appearance:none;

    border:3px solid green;
    border-radius:10px;
    color:green;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.background>.container table td button:hover{
    opacity: 50%;
}