.background{
    /* border:1px solid black; */
    height:677px;
    width:100%;
    margin-top:20px;
    
    display:flex;
    justify-content:center;
    align-items:flex-start;
}
/*........................................Register BOX...................................................*/
.form-container{
    height:fit-content;
    width:fit-content;
    border:4px solid black;
    border-radius: 20px;
    color:black;

    padding:10px;
}
.form-header{
    text-align: center;
    font-size:28px;
    font-family:Pangea Afrikan Text Trial;
    font-weight:550;

    margin:15px 0px 25px 0px;
}
/*........................................table...................................................*/
#form-table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders are collapsed for a cleaner look */
}
#form-table td{
    /* border: 1px solid black; */
    text-align: center;
    vertical-align:middle;
    padding:10px;
}
#lwexp{
    display:inline-block;
    height:30px;
    width:325px;
    vertical-align:middle;
    margin-bottom:20px;
}
#wexp{
    height:30px;
    width:325px;
    vertical-align:middle;
    margin-bottom:20px;
}

/*........................................FORM BOX...................................................*/
.form{
    height:290px;
    width:325px;

    display:flex;
    align-items:center;
    justify-content:center;  
}

input{
    height:30px;
    width:325px;
    color:black;
    padding-left:15px;

    border:1px solid black;
    border-radius:10px;
    background-color:transparent;
}

input::placeholder{/*TEXT PROPERTIES*/
    margin-left:15px;
    color:black;
    font-size:16px;
    font-family:Pangea Afrikan Text Trial;
}
label{
    color:black;
    font-size:16px;
    font-family:Pangea Afrikan Text Trial;
}
input[type="radio"] {
    appearance: none;
    border: 2px solid black;
    height: 18px;
    width: 18px;
    border-radius:100%;
    background-color: transparent;
}

input[type="radio"]:checked {
    background-color: black;
}

/*........................................Dropdown Box...................................................*/
select {
    height:33px;
    width:344px;
    color:black;
    padding-left:15px;

    border:1px solid black;
    border-radius:10px;
    background-color:transparent;

    font-size:16px;
    font-family:Pangea Afrikan Text Trial;
}

select option{
    background-color:black;
    color:white;
}
/*........................................Submit...................................................*/
input[type="submit"]{
    height:33px;
    width:344px;
    margin-top:10px;
    
    text-align:center;
    font-family:Pangea Afrikan Text Trial;
    font-size:18px;
    font-weight:550;

    border:2px solid black;
    border-radius:10px;
    background-color:transparent;
}
input[type="submit"]:hover{
    color:white;
    background-color:black;
}
input[type="date"]{
    height:30px;
    width:285px;
    color:black;
    padding-left:15px;

    border:1px solid black;
    border-radius:10px;
    background-color:transparent;
}

textarea{
    height:75px;
    width:100%;

    border:1px solid black;
    border-radius:10px;
    background-color:transparent;
}

textarea::placeholder{/*TEXT PROPERTIES*/
    color:black;
    font-size:16px;
    font-family:Pangea Afrikan Text Trial;
    text-align:center;
}
/* File Upload Button */
input[type="file"] {
    display: none; /* Hide the default file input */
}

.file-upload-label {
    display: inline-block;
    width: 100%; /* Ensure it takes full width of the container */
    max-width: 325px; /* Optional: max width for consistency */
    height: 33px;
    line-height: 40px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    padding-left:15px;
    text-align: left;
    font-family: Pangea Afrikan Text Trial, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis (...) to indicate overflow */
    white-space: nowrap; /* Prevent wrapping of text */
}

.file-upload-label:hover {
    background-color: #f0f0f0;
}

input[type="file"]:before {
    content: 'Choose File';
    display: inline-block;
    width: 100%;
    max-width: 325px; /* Optional: max width for consistency */
    height: 33px;
    background-color: #f1f1f1;
    line-height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

input[type="file"]:hover:before {
    background-color: #e0e0e0;
}
.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    text-align:left;
}
