.header{
    border:2px solid black;
    margin:0px;
    width:100%;
    height:75px;
    background-color:black;

    display:flex;
    align-items:center;
    justify-content:center;
}
.header>.container{
    height:65px;
    width:1210px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.header>.container>.logo{   
    height:65px;
    width:130px;
    margin:3px;
    margin-bottom:20px;
    background-image: url("/headerimg/Logo2.png");
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 125%;
}
.header>.container>.menubox{
    margin:3px;
    width:950px;
    height:65px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.header>.container>.menubox a{
    text-decoration:none;
    color:white;
    font-family:Pangea Afrikan Text Trial;
    font-size:16px;
    font-weight:bold;
    padding:3px 7px;
    display:inline-block;
    margin-bottom:1px;
}
a:hover{
    text-decoration-color:white;
    /* background-color:white; */
    opacity:25%;
}
.header>.container>.menubox>.menuicon{   
    height:25px;
    width:25px;

    background-image: url("/headerimg/menu.png");
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 125%;

    cursor:pointer;
}
.header > .container > .menubox > .menuicon > .menuitems {
    display: none;
    position: absolute;
    top: 55px;
}

.header > .container > .menubox > .menuicon > .menuitems a,
.header > .container > .menubox > .menuicon > .menuitems button {
    display: block;
    height: 20%;
    width: 100px;

    color: white;
    background-color: grey;

    font-family: Pangea Afrikan Text Trial, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    text-align: center;

    padding: 5px 0;
    border: none; 
    cursor: pointer;
    text-decoration: none;
}

.header > .container > .menubox > .menuicon > .menuitems a:hover,
.header > .container > .menubox > .menuicon > .menuitems button:hover {
    background-color: darkgrey;
}

/*................................................SEARCH BOX................................................*/
/* .header>.container>.menubox>.Search{
    width:250px;
    height:20px;
    margin-bottom:5px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.header>.container>.menubox>.Search input{
    width:220px;
    height:20px;
    border:2px solid white;
    border-radius:25px;
    background-color:transparent;
    display:inline-block;
}
[placeholder="Search Box"]{
    text-decoration:none;
    color:white;
    font-family:Pangea Afrikan Text Trial;
    font-size:16px;
    font-weight:bold;
    padding-left:10px;
}
.header>.container>.menubox>.Search>.Icon{
    height:20px;
    width:25px;
    background-image:url("Search.png");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:120%;
    margin-left:3px;
} */
.header{
    position:sticky;
    top:0px;
}