.lists {
    width: 97%;
    margin: 50px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

.lists table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.lists thead {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.lists tbody {
    border-bottom: 2px solid black;
}

.lists tr:nth-child(even) {
    background-color: #f3f3f3;
}

.lists tbody tr:hover {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


.lists td {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 16px;

    padding-top: 10px;
    padding-bottom: 10px;
}
.lists thead td{
    font-family: Arial, Helvetica;
    font-size:18px;
    color: black;
    font-weight:bold;
    padding-left: 6px;
}
.lists button{
    appearance:none;
    height:30px;
    width:50px;
    padding:3px;
    cursor: pointer;

    border:3px solid red;
    border-radius:10px;
    color:red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.lists #edit{
    appearance:none;
    height:30px;
    width:50px;
    padding:3px;

    border:3px solid blue;
    border-radius:10px;
    color:blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.header-section h3 {
    margin: 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

    flex-grow: 1; /* Allows h3 to take up remaining space */
    text-align: center;
}

.header-section a button {
    position: absolute;
    right: 0;
    margin-right:30px;

    appearance:none;
    height:30px;
    width:fit-content;
    padding:3px;

    border:3px solid green;
    border-radius:10px;
    color:green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
