.background {
    height: 677px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.form-container {
    height: 500px;
    width: 420px;
    border: 4px solid black;
    border-radius: 20px;
    padding: 20px;

    color: black;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-container > .title {
    text-align: center;
    font-size: 28px;
    font-family: 'Pangea Afrikan Text Trial';
    font-weight: 550;
    margin: 15px 0;
}

.form-container input,
.form-container select {
    height: 30px;
    width: 100%;
    color: black; /* Text color */
    padding-left: 15px; /* Padding for text inside */
    border: 1px solid black; /* Border for inputs */
    border-radius: 10px; /* Rounded corners */
    background-color: transparent; /* Transparent background */
    font-family: 'Pangea Afrikan Text Trial'; /* Match font with placeholder */
    font-size: 16px; /* Match font size with placeholder */
}

.form-container input[type="submit"] {
    width: 100%;
}

.form-container input::placeholder {
    margin-left: 15px;
    color: black; /* Placeholder color */
    font-size: 16px; /* Font size */
    font-family: 'Pangea Afrikan Text Trial'; /* Custom font */
}

.form-container input:focus {
    color: black; /* Color when focused */
}

.form-container .gender label {
    color: black    ;
    font-size: 16px;
    font-family: 'Pangea Afrikan Text Trial';
}

.form-container input[type="radio"] {
    appearance: none;
    border: 2px solid black;
    height: 18px;
    width: 18px;
    border-radius: 100%;
    background-color: transparent;
}

.form-container input[type="radio"]:checked {
    background-color: black;
}

.form-container select {
    height: 33px;
    width: 105%;
    font-size: 16px;
    font-family: 'Pangea Afrikan Text Trial';
}

.form-container select option {
    background-color: white;
    color: black;
}

.form-container input[type="submit"] {
    height: 33px;
    width: 105%;

    margin-top: 10px;
    text-align: center;
    font-family: 'Pangea Afrikan Text Trial';
    font-size: 18px;
    font-weight: 550;
    border: 2px solid black;
    border-radius: 10px;
    background-color: transparent;
}

input[type="submit"]:hover {
    
    color: white;
    background-color: black;
}

.form-container > a {
    height: 15px;
    width: 100%;
    margin: 5px auto;
    display: inline-block;
    color: black;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    font-family: 'Pangea Afrikan Text Trial';
}

.form-container > a:hover {
    text-decoration: underline;
}
