.contentbackground{
    /* border:1px solid black; */
    height:677px;
    width:100%;
    margin:0px;   

    display:flex;
    justify-content:center;
} 
.contentbackground >.contentcontainer{
    height:300px;
    width:750px;
    
    border:4px solid black;
    border-radius: 20px; 
    margin-top: 50px;

    display:flex;
    flex-wrap:wrap;
    align-content:space-between;
    justify-content:center;
}
.contentheader{
        height:20%;
        width:100%;

        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content:space-between;

        font-size:20px;
        font-family:Pangea Afrikan Text Trial;
        font-weight:550;
    }
.contentheader > .box1{
    height:100%;
    width:20%;
}
.contentheader > .box2{
    height:100%;
    width:60%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.contentheader>.box3{
    height:100%;
    width:20%;

    display:flex;
    align-items:center;
    justify-content:flex-end;
}
.contentheader>.box3 img{
    height:30px;
    width:30px;
    margin-right:10px; 
    background-position:center;
    background-repeat:no-repeat;    
}

table {
    width: 100%;
    height: 80%;
    border-collapse: collapse;
}

table td {
    width: 25%;
    height: 50px;
    text-align: center;
    vertical-align: middle;

    font-size:14px;
    font-family:Pangea Afrikan Text Trial;
}
#la {
    text-align:left;
    width: 25%; 
    vertical-align: middle;
    font-size: 14px;
    font-family: "Pangea Afrikan Text Trial";
}
table input, table select,table textarea {
    width: 90%;
    height: 30px;
    border:2px solid black;
    border-radius: 10px;
    box-sizing: border-box;

    font-size:14px;
    font-family:Pangea Afrikan Text Trial;
}
table select {
    background-color:white;
}

table input[type='submit']{
    background-color:white;
}

table input[type='submit']:hover{
    background-color:black;
    color:white;
}
