.triplist {
    width: 90%;
    margin: 50px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

.triplist table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.triplist thead {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.triplist tbody {
    border-bottom: 2px solid rgb(177, 177, 177);
}

.triplist tr:nth-child(even) {
    background-color: #f3f3f3;
}

.triplist tbody tr:hover {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


.triplist td {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 16px;

    padding-top: 10px;
    padding-bottom: 10px;
}
.triplist thead td{
    font-family: Arial, Helvetica;
    font-size:18px;
    color: black;
    font-weight:bold;
}
.triplist button{
    appearance:none;
    height:30px;
    width:50px;
    cursor: pointer;

    border:3px solid red;
    border-radius:10px;
    color:red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.triplist #edit{
    appearance:none;
    height:30px;
    width:50px;

    border:3px solid blue;
    border-radius:10px;
    color:blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}